<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> The idea of some students of the Albstadt-Sigmaringen University of Applied Sciences
          to apply their theoretical lecture knowledge gave rise to the major goal of developing,
          designing, manufacturing and operating a fully functional submersible. test
                     
        </p>
      </div>
      <div class="col-lg-4">
        <p>To apply as much knowledge as possible, the aim is to design and manufacture as many of the 
          required components as possible. Over a number of years, many students have worked on the project as part of project work, 
          bachelor's and master's theses or as student assistants.  </p>
      </div>
    </div>
  </div>
</section>
