<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>The Tortuga ROUV (Remotely Operated Underwater Vehicle) is a remotely controlled, wired diving robot. 
          With the help of the ROUV the underwater world can be explored without a human beeing having to down with it. 
          With its seven cameras and and ten LED spotlights, the seabed can be explored and bottom samples taken, as well as shipwrecks examined and video recordungs made. 
          
        </p>
      </div>
      <div class="col-lg-4">
        <p>The installed rechargable batteries allow an operation time of about 10 hours. 
          In the first step, a diving path depth of 270 m is desired to be reached (ground of lake constance).
          In The future, a diving depth of 1000 m, as well as a use in the sea is targeted. </p>
      </div>
    </div>
  </div>
</section>
