<!-- Partner Section -->
<section class="success" id="partners">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Our Partners</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>The project lifes of active partnerships with industrial companies. 
            Thank you very much to all our listed partners            
          </p>
        </div>
        <div class="col">
        <img class="img-responsive" src="img/ROUVTortuga.png" alt="pic with all partners"/>
        </div>
      </div>
    </div>
  </section>
  